@import url("null.css");

/*
display=swap;
subset=cyrillic-ext
*/
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/
body{
	font-family:'Roboto', sans-serif;
}
.wrapper {
	/* padding: 20px; */
	background-color:rgba(104, 104, 104, 0.5);
}
._container{
	max-width: 1020px;
	margin: 0 auto;
}
header{
	margin: 0px 0px 50px 0px;
	padding: 20px 0px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(46, 20, 116);
	text-shadow: 0px 0px 20px rgb(46, 20, 116);
	text-align: center;
	position: relative;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color:rgb(117, 154, 209);
	width: 100%;
}
.header__span {
	text-transform: lowercase;
}
.header__menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: 0;
	padding: 0px 2px;
}
.header__list {}
.header__item {
	display: inline-block;
	width: 20%;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 2px;
	color:rgb(131, 131, 131);
	padding: 20px 0px;
	background-color:rgb(125, 158, 206);
	border-radius: 0 0 10px 10px;
	text-shadow: none;
}
.header__item:hover{
	background-color:rgb(125, 158, 206);
	text-shadow: 0px 0px 20px rgb(46, 20, 116);
	box-shadow: 0 2px 3px rgb(125, 158, 206);
}
.header__link {
	color: rgba(46, 20, 116, 0.877);
}
.main{
	padding: 200px 0px;
}
footer{
	padding: 20px 0px;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(46, 20, 116);
	text-shadow: 0px 0px 20px rgb(46, 20, 116);
	text-align: center;
}
/* =========================== */
.position {
	padding: 50px 0px;
	font-size: 30px;
	text-align: center;
	text-transform: lowercase;
	font-weight: 900;
	color:rgb(82, 82, 82);

}
.position__container {
}
.position__static {
	margin: 0px 0px 100px 0px;
}
.static {
}
.static__block {
}
.block{
	font-size: 0;
	border: 3px solid rgb(158, 158, 158);
	margin: 10px 0px 0px 0px;
}
.block__row{
}
.block__elem{
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: rgb(22, 133, 127);
	padding: 100px 30px;
	width: 33.333%;
	font-size: 30px;
	letter-spacing: 1px;
	border: 1px solid rgb(158, 158, 158);

}
.block__elem:nth-child(1) {
	background-color: rgb(255, 4, 4);
}
.block__elem:nth-child(2) {
	background-color: rgb(251, 255, 0);

}
.block__elem:nth-child(3) {
	background-color: rgb(7, 255, 7);

}

.position__relative {
	margin: 0px 0px 100px 0px;
}
.relative{}
.relative__block{
	/* position: relative;
	z-index: 3; */
}
.relative__block .block__elem{
	position: relative;
	z-index: 3;
}
/* .block__elem {
	position: relative;
	z-index: 3;
} */
.block__elem_rel{
	position: relative;
	top: -110px;
	left: 110px;
	z-index: 2;
	vertical-align: middle;
}
.block__elem_rell{
	position: relative;
	top: -100px;
	left: 100px;
	z-index: 2;
}
.block__elem_rel::before{
	content:'';
	background: url('../img/icons/logo.svg') 0 50% no-repeat;
	width: 50px;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 10px;
}

.position__absolute {
	margin: 0px 0px 100px 0px;

	position: relative;
}
.absolute {}
.absolute__block {
	position: relative;
	/* position: absolute;
	top: 0;
	left: 0; */
}
.absolute__block .block__elem {
	/* position: absolute;
	z-index: 3; */
}
.block__elem {
	/* position: absolute;
	z-index: 3;*/
}
.block__elem_abs{
	position: absolute;
	top: 50%;
	left: 30%;
}
.block__elem_abs::before{
	content:'';
	background: url('../img/icons/logo.svg') 0 0 no-repeat;
	width: 50px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.position__fixed {
	margin: 0px 0px 100px 0px;

}
.fixed {}
.fixed__block {}
.block__elem_fix {
	position: fixed;
	top: 70%;
	left: 0;
	z-index: 10;
	margin: 200px auto 200px auto;
	display: block;
	width: 100%;
	background-color:rgba(0,0,0,0.5);
	/* z-index: 11; */
}
.block__elem_fix::before{
	content:'';
	background: url('../img/icons/logo.svg') 0 0 no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: 1; */
}


.position__sticky {
	margin: 0px 0px 200px 0px;
}
.sticky {
}
.sticky__block .block__row:nth-child(2){
	min-height: 1000px;
}
.block__elem{
	vertical-align: top;
}
.block__elem_stick {
	position: sticky;
	top: 0;
	/* display: block; */
}
.block__elem_stick::after{
	content:'';
	background: url('../img/icons/logo.svg') 0 0 no-repeat;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 100%;
	/* z-index: 1; */
}


/* ======================== */

.fullscreen {
	background: url('../img/fullscreen.jpg') 50% / cover no-repeat;
	min-height: 100%;
	position: relative;
	font-size: 0;

}
.fullscreen::before{
content: "";
background: rgba(44, 189, 189, 0.7);
position: absolute;
height: 100%;
width: 100%;
}
.fullscreen__container {
	padding: 280px 0px 312px 0px;
}
.fullscreen__title {
	max-width: 583px;
	font-weight: 800;
	font-size: 56px;
	line-height: 100%;
	color: #FFFFFF;
	margin: 0px 0px 48px 0px;
}
.fullscreen__button {}
.button {
	display: inline-block;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	padding: 9px 35px;
	background-color: #F2726F;
	border-radius: 4px;
}
/* ======================== */

	.about {
	font-size: 0;
	margin: -80px 0px 1000px 0px;

}
.about__container {
}

.about__body{
	background: #5D62B5;
	border-radius: 40px;
	padding: 100px 87px 0px 87px;
	position: relative;
}
.about__body::after{
	content: '';
	/* display: inline-block; */
	width: 201px;
	height: 317px;
	background: url('../img/points.svg') 0 0 no-repeat;
	position: absolute;
	top: -100px;
	left: 900px;
	/* z-index: 3; */

}
.about__body::before{
	content: '';
	/* display: inline-block; */
	width: 580px;
	height: 474px;
	background: url(../img/Blob.png) 0 0 no-repeat;
	position: absolute;
	bottom: -26px;
	left: -17px;
	/* z-index: 3; */
}
.about__title {
	margin: 0px 0px 33px 0px;
}
.title {
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 0px 0px 0px 33px;
	position: relative;
}
.title::before{
	content: '';
	background: url('../img/icons/block-title.svg') 0 0 no-repeat;
	width: 17px;
	height: 24px;
	display: inline-block;
	position: absolute;
	top: -2px;
	left: 0;

}
.about__subtitle {
	margin: 0px 0px 36px 0px;
}
.subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 120%;
	color: #FFFFFF;
}
.about__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	margin: 0px 0px 50px 0px;
}
.about__img {
	/* position: relative; */

}
.image-dog {
	margin: 0px 0px -120px 0px;
	position: relative;
	z-index: 2;
	border-radius: 40px;
}
.image-blob {
	/* position: absolute;
	top: -445px;
	left: -100px; */
}